.sugerencias{
  position:absolute;
  top:60px;
  left:0;
  right:0;
  background:#1c1c1c;
  border-radius:12px;
  border:1px solid #333;
  overflow:hidden;
  z-index:10;
}

.sugerencia{
  padding:12px;
  cursor:pointer;
  border-bottom:1px solid #333;
}

.sugerencia:hover{
  background:#2a2a2a;
}
