body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

#resultados {
  margin-top: 20px;
}

#resultados a {
  display: block;
  margin-bottom: 10px;
}
